.cart-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-right: 15px;
}
.item-details {
    flex-grow: 1;
}
.item-price, .item-quantity, .item-total {
    font-size: 1rem;
}
.item-price {
    font-weight: bold;
}
.item-discount {
    text-decoration: line-through;
    color: red;
}
.subtotal {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 20px;
}